{% extends "base.html.twig" %}

{% block title %} Home_page {% endblock %}

{% block body %}
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
                   <div class="container-login100-form-btn">
                        <div class="login100-pic js-tilt" data-tilt>
                            <img src="assets/images/img-01.png" alt="IMG">
                        </div>
                    </div>
                	<div class="container-login100-form-btn">
						<a href="http://localhost:8000/BDD_USER_1" class="login100-form-btn">
							Aller dans la base de donnée "User 1"
						</a>
                        </div>
                        <div class="container-login100-form-btn">
                            <a href="http://localhost:8000/BDD_USER_2" class="login100-form-btn">
                           Aller dans la base de donnée "User 2"
						</a>
                    </div>
            </div>
        </div>
</div>
{% endblock %}