{% extends 'base.html.twig'%}
{% block title %}Login {{ db_name }} {% endblock %}

{% block body %}
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="assets/images/img-01.png" alt="IMG">
				</div>

				  {% if app.user %}
                <div class="mb-3 title">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout', {'bdd':db_name}) }}">Logout</a>
                </div>
                {% endif %}

				<form method="post" class="login100-form validate-form">
			
				{% if error %}
                <div class="title alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
               	{% endif %}
					<span class="login100-form-title">
						Se connecter dans {{ db_name }}
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Identifiant Invalid">
						<input class="input100" id="inputlogin"  type="text" name="email" placeholder="Identifiant">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Mot de passe invalid">
						<input class="input100" id="inputmdp" type="password" name="pass" placeholder="Mot de passe">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Connecter
						</button>
					</div>
					<div class="text-center p-t-136">
						 <input type="hidden" name="_csrf_token"
                       		value="{{ csrf_token('authenticate') }}"
                			>
					</div>
					<div class="container-login100-form-btn">
						<a class="login100-form-btn" href="javascript:history.go(-1)"> < Retour</a>
                    </div>
				</form>
			</div>
		</div>
	</div>
 {% endblock %}