{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="login">
        <form method="post">
            {% if error %}
                <div class="title alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3 title">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout', {'bdd':db_name}) }}">Logout</a>
                </div>
            {% endif %}
            <h1 class="title">Please sign in</h1>
            <div class="">
                <label for="inputEmail" class="label">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus placeholder="Email">
            </div>
            <div class="">
                <label for="inputPassword" class="label">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="Password">

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </div>
            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
            <div class="form-group">
                <button class="login-button" type="submit">
                    Sign in
                </button>
            </div>

        </form>
    </div>
{% endblock %}
