{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
                        <div class="container-login100-form-btn">
                                <div class="login100-pic js-tilt" data-tilt>
                                    <img src="assets/images/img-01.png" alt="IMG">
                                </div>
                            </div>

                    {% if app.user %}
                            <div class="container-login100-form-btn">
                                <div class="text-center">
                                    Bonjour  {{ app.user.username }} du client {{ clients.nomclient }} 
                                </div>
                            </div>
                            <div class="container-login100-form-btn">
                                <div class="text-center p-t-12">
                                    <button class="login100-form-btn">
                                        <a style="color:white;" href="{{ path('app_logout', {'bdd':db_name}) }}">Déconnecter</a>
                                    </button>
                                </div>
                            </div>
                    {% endif %}	
            </div>
        </div>
</div>       
{% endblock %}
